@page
@model MediiDeProgramareProiectFinal.Pages.Evaluari.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editare</h1>

<h4>Evaluare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Evaluare.ID" />
            <div class="form-group">
                <label asp-for="Evaluare.CursID" class="control-label"></label>
                <select asp-for="Evaluare.CursID" class="form-control" asp-items="ViewBag.CursID"></select>
                <span asp-validation-for="Evaluare.CursID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluare.StudentID" class="control-label"></label>
                <select asp-for="Evaluare.StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="Evaluare.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluare.Nota" class="control-label"></label>
                <input asp-for="Evaluare.Nota" class="form-control" />
                <span asp-validation-for="Evaluare.Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluare.SpecializareID" class="control-label"></label>
                <select asp-for="Evaluare.SpecializareID" class="form-control" asp-items="ViewBag.SpecializareID"></select>
                <span asp-validation-for="Evaluare.SpecializareID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Inapoi in lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
